flows/cloud_flow.json
[{"id":"4d64c8f6.719848","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11a184d.4f3967b","type":"streamr-sub","z":"4d64c8f6.719848","name":"Ruuvi","stream":"e5329142.ac851","x":116,"y":27,"wires":[["fb801c17.4161d","faa90398.b90c8"]]},{"id":"fb801c17.4161d","type":"debug","z":"4d64c8f6.719848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":346,"y":46,"wires":[]},{"id":"13136b9b.ce4ea4","type":"cloudant out","z":"4d64c8f6.719848","name":"Cloudant","cloudant":"","database":"nodered","service":"streamr-IoT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":569,"y":150,"wires":[]},{"id":"faa90398.b90c8","type":"function","z":"4d64c8f6.719848","name":"zTempWindow","func":"var temperaturewindow = context.get('temperaturewindow') || {}\nif (temperaturewindow[msg.payload.deviceUuid] === undefined) {\n    temperaturewindow[msg.payload.deviceUuid] = []\n}\n\ntemperaturewindow[msg.payload.deviceUuid].push(msg.payload.temperature);\nsum = temperaturewindow[msg.payload.deviceUuid].reduce((a,b) => a + b, 0);\nn = temperaturewindow[msg.payload.deviceUuid].length;\nmean = sum / n;\nsd = Math.sqrt(temperaturewindow[msg.payload.deviceUuid].map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\nif (sd === 0 || temperaturewindow[msg.payload.deviceUuid].length <= 40) {\n    msg.payload.zscoreTemperature = 0;\n} else {\n    msg.payload.zscoreTemperature = (msg.payload.temperature-mean) / (sd);\n}\nmsg.payload.meanTemperature = mean;\n\nif (temperaturewindow[msg.payload.deviceUuid].length > 30) {\n    temperaturewindow[msg.payload.deviceUuid].shift();\n}\ncontext.set('temperaturewindow', temperaturewindow)\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":89,"wires":[["5ae98c.5c92d674"]]},{"id":"7bcfef25.70179","type":"debug","z":"4d64c8f6.719848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578,"y":45,"wires":[]},{"id":"5ae98c.5c92d674","type":"function","z":"4d64c8f6.719848","name":"zHumWindow","func":"var humiditywindow = context.get('humiditywindow') || {}\nif (humiditywindow[msg.payload.deviceUuid] === undefined) {\n    humiditywindow[msg.payload.deviceUuid] = []\n}\nhumiditywindow[msg.payload.deviceUuid].push(msg.payload.humidity);\n\nsum = humiditywindow[msg.payload.deviceUuid].reduce((a,b) => a + b, 0);\nn = humiditywindow[msg.payload.deviceUuid].length;\nmean = sum / n;\nsd = Math.sqrt(humiditywindow[msg.payload.deviceUuid].map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n\nif (sd === 0 || humiditywindow[msg.payload.deviceUuid].length <= 40) {\n    msg.payload.zscoreHumidity = 0;\n} else {\n    msg.payload.zscoreHumidity = (msg.payload.humidity-mean) / (sd);\n}\n\nmsg.payload.meanHumidity = mean;\n    \nif (30) {\n    humiditywindow[msg.payload.deviceUuid].shift();\n}\ncontext.set('humiditywindow', humiditywindow)\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":150,"wires":[["13136b9b.ce4ea4","7bcfef25.70179"]]},{"id":"a855647.ba8bb98","type":"http in","z":"4d64c8f6.719848","name":"","url":"/updateGZscore","method":"get","upload":false,"swaggerDoc":"","x":159.5,"y":336,"wires":[["3c5a8a21.7cf776"]]},{"id":"aeed4691.76ce08","type":"http response","z":"4d64c8f6.719848","name":"","statusCode":"","headers":{},"x":475.5,"y":313,"wires":[]},{"id":"3c5a8a21.7cf776","type":"function","z":"4d64c8f6.719848","name":"","func":"if (Number(msg.payload.new) >= 0 && Number(msg.payload.new) <= 1) {\n    flow.set(\"gZscoreThreshold\", Number(msg.payload.new))\n} else {\n    msg.payload.new = \"Invalid input (0 - 1 required)\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":341.5,"y":360,"wires":[["aeed4691.76ce08"]]},{"id":"7ff28518.7cc1ec","type":"http in","z":"4d64c8f6.719848","name":"","url":"/getGZscore","method":"get","upload":false,"swaggerDoc":"","x":169.5,"y":386,"wires":[["6549357b.1ffa5c"]]},{"id":"80626067.e5185","type":"http response","z":"4d64c8f6.719848","name":"","statusCode":"200","headers":{},"x":467.5,"y":394,"wires":[]},{"id":"6549357b.1ffa5c","type":"function","z":"4d64c8f6.719848","name":"","func":"msg.payload = flow.get(\"gZscoreThreshold\") || 0.5\nreturn msg;","outputs":1,"noerr":0,"x":334.5,"y":425,"wires":[["80626067.e5185"]]},{"id":"e5329142.ac851","type":"streamr-config","z":"4d64c8f6.719848","apiKey":"Hb35dKItSxeJI9VSOPBLLAiF6EHACZQqGZo8mwKf3gJw","streamId":"NA_-INpsSquqVoyYrmWfOQ"}]
