flows/cloud_flow.json
[{"id":"aab75cc3.adb3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"683ac456.7f10bc","type":"debug","z":"aab75cc3.adb3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":346,"y":46,"wires":[]},{"id":"41bb6082.ae241","type":"cloudant out","z":"aab75cc3.adb3","name":"Cloudant","cloudant":"","database":"","service":"","payonly":true,"operation":"insert","x":569,"y":150,"wires":[]},{"id":"8abd5746.ef1128","type":"function","z":"aab75cc3.adb3","name":"zTempWindow","func":"var temperaturewindow = context.get('temperaturewindow') || {}\nif (temperaturewindow[msg.payload.deviceUuid] === undefined) {\n    temperaturewindow[msg.payload.deviceUuid] = []\n}\n\ntemperaturewindow[msg.payload.deviceUuid].push(msg.payload.temperature);\nsum = temperaturewindow[msg.payload.deviceUuid].reduce((a,b) => a + b, 0);\nn = temperaturewindow[msg.payload.deviceUuid].length;\nmean = sum / n;\nsd = Math.sqrt(temperaturewindow[msg.payload.deviceUuid].map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\nif (sd === 0 || temperaturewindow[msg.payload.deviceUuid].length <= 40) {\n    msg.payload.zscoreTemperature = 0;\n} else {\n    msg.payload.zscoreTemperature = (msg.payload.temperature-mean) / (sd);\n}\nmsg.payload.meanTemperature = mean;\n\nif (temperaturewindow[msg.payload.deviceUuid].length > 30) {\n    temperaturewindow[msg.payload.deviceUuid].shift();\n}\ncontext.set('temperaturewindow', temperaturewindow)\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":89,"wires":[["5cc8e1cb.023e2"]]},{"id":"335a69f1.851cb6","type":"debug","z":"aab75cc3.adb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578,"y":45,"wires":[]},{"id":"5cc8e1cb.023e2","type":"function","z":"aab75cc3.adb3","name":"zHumWindow","func":"var humiditywindow = context.get('humiditywindow') || {}\nif (humiditywindow[msg.payload.deviceUuid] === undefined) {\n    humiditywindow[msg.payload.deviceUuid] = []\n}\nhumiditywindow[msg.payload.deviceUuid].push(msg.payload.humidity);\n\nsum = humiditywindow[msg.payload.deviceUuid].reduce((a,b) => a + b, 0);\nn = humiditywindow[msg.payload.deviceUuid].length;\nmean = sum / n;\nsd = Math.sqrt(humiditywindow[msg.payload.deviceUuid].map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n\nif (sd === 0 || humiditywindow[msg.payload.deviceUuid].length <= 40) {\n    msg.payload.zscoreHumidity = 0;\n} else {\n    msg.payload.zscoreHumidity = (msg.payload.humidity-mean) / (sd);\n}\n\nmsg.payload.meanHumidity = mean;\n    \nif (30) {\n    humiditywindow[msg.payload.deviceUuid].shift();\n}\ncontext.set('humiditywindow', humiditywindow)\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":150,"wires":[["41bb6082.ae241","335a69f1.851cb6"]]},{"id":"1a8de2eb.242c2d","type":"http in","z":"aab75cc3.adb3","name":"","url":"/updateGZscore","method":"get","upload":false,"swaggerDoc":"","x":159.5,"y":336,"wires":[["e7936eb6.76906"]]},{"id":"a631c3c1.4395c","type":"http response","z":"aab75cc3.adb3","name":"","statusCode":"","headers":{},"x":475.5,"y":313,"wires":[]},{"id":"e7936eb6.76906","type":"function","z":"aab75cc3.adb3","name":"","func":"if (Number(msg.payload.new) >= 0 && Number(msg.payload.new) <= 1) {\n    flow.set(\"gZscoreThreshold\", Number(msg.payload.new))\n} else {\n    msg.payload.new = \"Invalid input (0 - 1 required)\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":341.5,"y":360,"wires":[["a631c3c1.4395c"]]},{"id":"b0b375e2.733d78","type":"http in","z":"aab75cc3.adb3","name":"","url":"/getGZscore","method":"get","upload":false,"swaggerDoc":"","x":169.5,"y":386,"wires":[["eddc6bc5.d34c18"]]},{"id":"bf8f8dd1.9feae","type":"http response","z":"aab75cc3.adb3","name":"","statusCode":"200","headers":{},"x":467.5,"y":394,"wires":[]},{"id":"eddc6bc5.d34c18","type":"function","z":"aab75cc3.adb3","name":"","func":"msg.payload = flow.get(\"gZscoreThreshold\") || 0.5\nreturn msg;","outputs":1,"noerr":0,"x":334.5,"y":425,"wires":[["bf8f8dd1.9feae"]]},{"id":"69764bd1.9342f4","type":"streamr-sub","z":"aab75cc3.adb3","name":"Ruuvi","stream":"13ca2a84.2000d5","x":116,"y":27,"wires":[["683ac456.7f10bc","8abd5746.ef1128"]]},{"id":"13ca2a84.2000d5","type":"streamr-config","z":"aab75cc3.adb3","apiKey":"","streamId":""}]
